// 禁止用户选中 以及 触摸时的颜色
@import './vars.less';

.tap-active {
  tap-highlight-color: rgba(0,0,0,0);
  user-select:none;
}

.tap-active:active {
  background: @tapColor;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
}